*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


 header{
    height: 100px;
    background-color:rgba(0, 128, 0, 0.274);
}

main{
    height: 80vh;
    background-color:lightgrey;
    position: relative;
}

.container{
 width: 80%;
 height: 100%;
 background-color: aqua;
 position:relative;
 top:-50px;
 margin:auto;
 display: flex;


}
.contatti{
 height: 100%;
 width:35%;
 background-color: blueviolet;
}
.chat{
   height: 100%;
   width: 65%;
   background-color: blue; 
}

.Tu{
height:40px;
width: 100%;
border: 3px solid black;
}
img{
    height: 100%;
    border-radius: 50%;
    margin-right: 10px;
}
.avatar{
    width: 100%;
    height: 100%;
    border: 2px solid beige;

}
.js-contatti{
    background-color: aqua;
    height:calc( 100% / 8);
    border:3px solid black ;
 
}
li{

}




/*****classi comuni**************/
.dflex{
    display: flex;
}
.item-center{
   align-items: center;
}
.content-center{
    justify-content: center;
}
.wrap{
    flex-wrap: wrap;
}

.pl{
    padding-left:20px;
}









.notifica,li{
    border: 2px solid white;
    font-size: 20px;
    width: 100%;
    height: 50px;
   
   
}
.icone{
  background-color: antiquewhite;
  border-radius: 50px;
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: blue;
}


.cerca{
    background-color: aliceblue;
}